<div class="ft_ctr l-wp-1680">
        <div class="community">
                <a class="community_link icm-skype" href="skype:flyingfree9981?chat" rel="JhuangPingskype"></a>
                <a class="community_link icm-line" href="http://line.naver.jp/ti/p/2FQgg9zLUv#~" rel="JhuangPingline"></a>
                <a class="community_link icm-youtube" href="" rel="JhuangPingyoutube"></a>
                <a class="community_link icm-facebook" href="https://www.facebook.com/JhuangBingYi" rel="JhuangPingfacebook"></a>
        </div>
        <div class="copyright">
                Copyright© JhuangPing 2019 - All. <span class="copyright_txt-design">Design by JhuangPing</span>
        </div>
</div>