<div class="hd_ctr ctr ctr--max1680">
    <figure class="hd_logo">
        <img src="assets/img/common/logo.svg">
    </figure>
    <div class="hd_toggle"></div>
    <nav class="hd_menu">
        <ul class="menu">
            <li class="menu_item"><a href="">service</a></li>
            <li class="menu_item"><a href="">handbook 手冊</a></li>
            <li class="menu_item"><a href="">notes 筆記</a></li>
            <!-- <li class="menu_item"><a href="">Photo</a></li> -->
            <!-- <li class="menu_item"><a href="">Video</a></li> -->
        </ul>
    </nav>
</div>