<div class="hd_ctr l-wp-1680">
    <figure class="hd_logo">
        <img src="src/img/common/logo.svg">
    </figure>
    <div class="hd_toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="hd_menu">
        <ul class="menu">
            <li class="menu_item"><a class="menu_link" href="help/making.html">Soho 個人接案</a></li>
            <li class="menu_item"><a class="menu_link" href="help/handbook" target="_blank">JhuangPing Helpers</a></li>
            <!-- <li class="menu_item"><a class="menu_link" href="">notes 筆記</a></li> -->
            <li class="menu_item"><a class="menu_link" href="help/making.html">Photo 照片</a></li>
            <li class="menu_item"><a class="menu_link" href="help/making.html">Video 影片</a></li>
            <li class="menu_item"><a class="menu_link" href="help/making.html">Game 遊戲</a></li>
        </ul>
    </nav>
</div>