/* Page Edit ================================================================== */
#edit
    > * 

    ol, ul
        padding-left: 20px
    ol
        list-style-type: decimal
    ul
        list-style-type: disc
        ul
            list-style-type: circle
            ul
                list-style-type: square
    li
        list-style: $u-dna
        +mg(y, 10px)
    p
        margin: 0px
        +mg(y,1em)

    a
        color: cr(blue)
        +rwdw-min()
            &:hover
                opacity: .5

    hr
        +mg(y, 2em)
        border: none
        border-bottom: 1px dotted #aaa

    h1, h2, h3, h4, h5, h6
        display: block
        position: relative

    @for $i from 1 through 6
        h#{$i}
            font-size: rem(30 - $i * 1.5)
            
            color: lighten(#282117, $i * 3.5% )
            // color: lighten(#171E28, $i * 3.5% )
            // color: lighten(#261717, $i * 3.5% )
            // color: lighten(#11151B, $i * 3.5%)
    
    code
        font-family: $fontDefault
        background-color: #eee
        color: #000
        font-size: rem(14)
        font-weight: 400
        padding: 2px 6px
        border-radius: 2px
        border: 1px solid rgba(0,0,0,0.07)

    pre
        color: #fff
        background: cr(code-bg)
        font-size: rem(14)
        padding: 10px 20px
        border-radius: 5px
        position: relative
        overflow-y: hidden
        // &::before
        //     content: 'Copy Code.'
        //     position: absolute
        //     top: 15px
        //     right: 20px
        //     font-size: rem(12)
        //     line-height: 1
        //     color: #333
        //     background: #ededed
        //     border-radius: 5px
        //     padding: 5px 8px
        //     cursor: pointer
        //     +trs()
        //     +rwdw-min()
        //         &:hover
        //             opacity: .3
        code
            color: $u-dna
            background-color: $re-color
            font-weight: normal
            padding: 0px
            border-radius: 0px
            border: none

        .tag, .red, .code-r
            color: cr(code-r)
        .cls, .green, .code-g
            color: cr(code-g)
        .blue, .code-b
            color: cr(code-b)
        .gray, .code-gray
            color: cr(code-gray)
        .purple, .code-p
            color: cr(code-p)
        .code-y, .y, .yellow
            color: cr(code-y)

    .info
        > *
            &:last-child
                margin-bottom: rem(15)
        p:first-child
            +mg(t,0px)
        
    table
        +mg(y, 10px)
        thead
            tr
                +rwdw-min()
                    &:hover
                        tr, td, th
                            color: #fff
                            background: #333
            th
                color: #fff
                background: #333
        td, th
            padding: 8px 10px
            border: 1px solid #ccc
            +trs()
        th
            background: #e0e0e0

    .pic
        +mg(y, 1em)
        &_img
            +flex-center()
            margin-bottom: 10px
        &_info
            font-size: rem(14)
            text-align: center

    // Link a taag
    %icon
        color: #999
        &::before
            display: inline-block
            margin-right: 5px
            font-weight: bold

    a

        &.c-remark, &.remark
            color: #444
            font-size: rem(14)
            position: relative
            padding-left: 20px
            &::before, &::after
                content: ''
                position: absolute
                top: 1px
            &::before
                left: 5px
                width: 12px
                height: 15px
                background: #FED700
                border-radius: 2px
            &::after
                left: 5 + 6 + px
                width: 0px
                height: 0px
                border-style: solid
                border-width: 3px
                border-color: #fff #fff #444444 #444444

        &.c-link, &.link
            @extend %icon
            &::before
                content: '\2139'
                color: cr(blue)

        &.c-download, &.downloaad
            @extend %icon
            &::before
                content: '\2913'
                color: cr(teal)


        +rwdw-min()
            &[class*="c-"]:hover
                opacity: .5

    // List i tag
    i
        &[class*="c-"]
            font-style: normal
            margin-right: 5px
        &.c-check
            &::before
                color: #ccc
                font-weight: bold
                content: '\2610'
                display: inline-block

            &--yes, &--ok
                &::before
                    content: '\2611'
                    color: #333
            &--no, &--unok
                &::before
                    content: '\2610'