@mixin md-keyframes()
    /* Keyframes ============================================================== */
    @keyframes c-opacity_in
        0%
        100%
            opacity: 1

    @keyframes c-opacity_out
        0%
        100%
            opacity: 0

    @keyframes c-w100
        0%
        100%
            width: 100%

    @keyframes c-h100
        0%
        100%
            height: 100%
    @content