// Grid Mixin -----------------------------------------------------------------
@mixin md-gd($val, $both, $mgb: 30px)
    $percent: 100% / $val

    +flex($fw: wp, $ai: stretch)
    margin-left: vw(-$both/2)
    margin-right: vw(-$both/2)

    > *
        flex-basis: $percent
        max-width: $percent
        padding-left: vw($both/2)
        padding-right: vw($both/2)
        margin-bottom: $mgb
        display: inline-block

@mixin md-m-gd($both: 30,$mgb: 30px)
    &.m-gd, &.m-grid
        margin-left: vw(-$both/2)
        margin-right: vw(-$both/2)
        & > *
            padding-right: vw($both/2)
            padding-left: vw($both/2)
            margin-bottom: $mgb
// Grid SASS ------------------------------------------------------------------
@mixin md-grid()
    /* Grid =================================================================== */
    .m-gd,.m-grid
        +flex($fw: wrap)
        @each $val in $gridArry
            &-row#{$val}
                > *
                    width: calc(100%/#{$val})
                    @if $val <= 2
                        +rwdw-max($rwd-phone)
                            width: 100%
                    @else if $val <= 3
                        +rwdw-max($rwd-pad)
                            width: 50%
                        +rwdw-max($rwd-phone)
                            width: 100%
                    @else if $val <= 4
                        +rwdw-max(1366)
                            width: calc(100%/3)
                        +rwdw-max($rwd-pad)
                            width: 50%
                        +rwdw-max($rwd-phone)
                            width: 100%
                    @else if $val <= 6
                        +rwdw-max(1366)
                            width: calc(100%/3)
                        +rwdw-max($rwd-pad)
                            width: 50%
                        +rwdw-max($rwd-phone)
                            width: 100%
        @content
