.c-accordion-body[data-v-d38a203b]{overflow:hidden;transition:all .5s ease}.c-accordion-header[data-v-3f0d6822]{display:flex;align-items:center;justify-content:space-between;width:100%;position:relative;cursor:pointer}
