.c-accordion-body[data-v-d38a203b]{overflow:hidden;transition:all .5s ease}.c-accordion-header[data-v-98ffeef7]{display:flex;align-items:center;justify-content:space-between;width:100%;position:relative;cursor:pointer}
