/* Header ===================================================================== */
header
    width: 100vw
    position: fixed
    top: 20px
    left: 0px
    z-index: 10000
.hd
    &_ctr
        +flex($jc: end)
    &_logo
        flex: 0 0 50px
        z-index: 1
        display: none

        // +rwdw-min()
        
    &_toggle
        +flex($fw: wrap, $jc: sa, $ai: sa)
        position: fixed
        z-index: 10001
        top: 35px
        right: 5%
        width: 35px
        height: 35px
        cursor: pointer
        +trs()

        span
            display: block
            flex: 0 0 14px
            max-width: 14px
            width: 100%
            height: 14px
            border-radius: 2px
            background: #fff
            box-shadow: 0 0 32px rgba(#000, .7)
            +trs()
        &.js-active
            // flex-wrap: nowrap
            // flex-direction: column
            // align-items: center
            span
                &:first-child
                    // transform-origin: 100% 100%
                    transform: rotate(45deg)

    +rwdw-min()
        &_ctr
            max-width: vw(1680)
        &_toggle
            display: none

    +rwdw-max()
        &_menu
            position: fixed
            top: 50%
            left: 0px
            width: 100%
            height: 0px
            background: rgba(#000, .8)
            +flex-center()
            opacity: 0
            pointer-events: none
            +trs()
            &.js-show
                pointer-events: auto
                opacity: 1
                top: 0px
                height: 100%

.menu
    +flex($fd: column)
    margin-top: 10px
    font-family: font(bold)
    font-size: px(20)
    text-transform: capitalize

    &_item
        margin-bottom: 5px
        text-align: right

    +rwdw-min()
        a:hover
            color: #fff
            opacity: .5      
            
    +rwdw-max()
        margin-top: 0px
        max-width: 320px
        width: 100%
        max-height: 100%
        overflow-x: hidden
        box-shadow: 0px 5px 10px rgba(#000,.8)
        opacity: 0
        +trs()
        &.js-show
            opacity: 1

        &_item
            margin-bottom: 0px
            text-align: center
        a
            display: block
            padding: 15px 8px
            background: #212121