+md-reset()
+md-default()
    background: #212121
    overflow: hidden
+md-common()
+md-javascript()
+md-layout_main()
    width: 100vw
    height: 100vh
+md-layout_ctr()
+md-keyframes()
+md-typography()
+md-button()
+md-grid()
+md-banner()
    &--index
        max-width: vw(1590)
        width: 100%
        position: fixed
        top: 0px
        right: 0px
        background: $Re

        +rwdw-max()
            display: none

        .bn
            &_pic
                height: 100vh
    &--inside
+md-path()
+md-form()
+md-table()