+md-reset()
+md-default()
    background: #212121
+md-common()
+md-javascript()
+md-layout_main()
    width: 100vw
    height: 100vh
+md-layout_l-wp
+md-keyframes()
+md-typography()
+md-button()
+md-grid()
+md-banner()
    &--index
        max-width: vw(1590)
        width: 100%
        position: fixed
        top: 0px
        right: 0px
        background: $Re

        .swiper-slide-active
            opacity: 1 !important

        .m-bn
            &_pic
                height: 100vh
    &--inside
+md-path()
+md-form()
+md-table()