/* Index ====================================================================== */
.stn
    &-bg
        pointer-events: none
        position: absolute
        top: 0px
        left: 0px
        width: 100vw
        height: 100vh
        filter: blur(2px)
        z-index: -1
        svg
            width: 100vw
            height: 100vh
        .svg
            &-sass
                opacity: .8

            &-pug
                opacity: .1
                transform: rotateY(5deg)
                transform-origin: 0,0