/* ============================================================================ */
/* Common                                                                       */
/* ============================================================================ */
/* Reset ====================================================================*/
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body, div, menu, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, th, td, figure { margin: 0; padding: 0; }

img { max-width: 100%; height: auto; border: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; display: inline-block; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

table { border-collapse: collapse; border-spacing: 0; }

input, button, textarea, select { *font-size: 100%; }

ol, ul, li, menu { list-style: none; }

a { text-decoration: none; -webkit-transition: all .5s; transition: all .5s; }

input, textarea { outline: none; }

section, article, aside, footer, header, nav, main { display: block; }

/* Default ==================================================================== */
html { font-size: 10px; }

body { font-family: Arial, "Microsoft JhengHei", sans-serif; font-size: 1.6rem; line-height: 1.5; letter-spacing: 0px; overflow-x: hidden; color: #666; padding: 20px; padding-left: 35px; padding-right: 45px; }

/* style */
.style-none { margin: 0; padding: 0; list-style: none; }

/* txt */
.txt-left { text-align: left; }

.txt-center { text-align: center; }

.txt-right { text-align: right; }

/* scroll */
.scroll-no { overflow: hidden; }

.scroll-x { overflow-y: hidden; }

.scroll-y { overflow-x: hidden; }

/* display */
@media all and (max-width: 992px) { .show-pc, .display-pc { display: none !important; } }

@media all and (min-width: 993px) { .show-mobile, .display-mobile { display: none !important; } }

/* Javascript */
[data-img] { background-repeat: no-repeat; }

.js-img--full { background-size: cover; }

.js-img--hold { background-size: auto 100%; }

.js-img--config { background-position: center; }

/* Keyframes */
@-webkit-keyframes opacity_in { 0% { }
  100% { opacity: 1; } }
@keyframes opacity_in { 0% { }
  100% { opacity: 1; } }

@-webkit-keyframes opacity_out { 0% { }
  100% { opacity: 0; } }

@keyframes opacity_out { 0% { }
  100% { opacity: 0; } }

@-webkit-keyframes w100 { 0% { }
  100% { width: 100%; } }

@keyframes w100 { 0% { }
  100% { width: 100%; } }

@-webkit-keyframes h100 { 0% { }
  100% { height: 100%; } }

@keyframes h100 { 0% { }
  100% { height: 100%; } }

/* ============================================================================ */
/* Page                                                                         */
/* ============================================================================ */
/* Page Edit ================================================================== */
#edit ol, #edit ul { padding-left: 20px; }

#edit ol { list-style-type: decimal; }

#edit ul { list-style-type: disc; }

#edit ul ul { list-style-type: circle; }

#edit ul ul ul { list-style-type: square; }

#edit li { list-style: inherit; }

#edit p { margin: 0px; margin-top: 1em; margin-bottom: 1em; }

#edit hr { margin-top: 2em; margin-bottom: 2em; border: none; border-bottom: 1px dotted #aaa; }

#edit h1, #edit h2, #edit h3, #edit h4, #edit h5, #edit h6 { display: block; position: relative; }

#edit h1 { font-size: 2.85rem; color: #332a1e; }

#edit h2 { font-size: 2.7rem; color: #3f3424; }

#edit h3 { font-size: 2.55rem; color: #4a3d2b; }

#edit h4 { font-size: 2.4rem; color: #554631; }

#edit h5 { font-size: 2.25rem; color: #615038; }

#edit h6 { font-size: 2.1rem; color: #6c593e; }

#edit pre { color: #fff; background: #272822; font-size: 1.4rem; padding: 10px 20px; border-radius: 5px; position: relative; }

#edit pre .tag, #edit pre .red { color: #EB2658; }

#edit pre .cls, #edit pre .green { color: #A6E22E; }

#edit pre .blue { color: #66D9EF; }

#edit pre .gray { color: #75715E; }

#edit .row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px; }

#edit [class^="col-"] { padding: 10px 15px; }

#edit [class^="col-"].gdp, #edit [class^="col-"].gd { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 10px 15px; }

#edit .col-1 { width: 8.33333%; padding: 0 15px; }

@media all and (max-width: 1500px) { #edit .col-1 { width: calc(100%/4); } }

@media all and (max-width: 1366px) { #edit .col-1 { width: calc(100%/3); } }

@media all and (max-width: 992px) { #edit .col-1 { width: 50%; } }

@media all and (max-width: 480px) { #edit .col-1 { width: 100%; } }

#edit .col-2 { width: 16.66667%; padding: 0 15px; }

@media all and (max-width: 1500px) { #edit .col-2 { width: calc(100%/4); } }

@media all and (max-width: 1366px) { #edit .col-2 { width: calc(100%/3); } }

@media all and (max-width: 992px) { #edit .col-2 { width: 50%; } }

@media all and (max-width: 480px) { #edit .col-2 { width: 100%; } }

#edit .col-3 { width: 25%; padding: 0 15px; }

@media all and (max-width: 992px) { #edit .col-3 { width: 50%; } }

@media all and (max-width: 480px) { #edit .col-3 { width: 100%; } }

#edit .col-4 { width: 33.33333%; padding: 0 15px; }

@media all and (max-width: 992px) { #edit .col-4 { width: 50%; } }

@media all and (max-width: 480px) { #edit .col-4 { width: 100%; } }

#edit .col-5 { width: 41.66667%; padding: 0 15px; }

@media all and (max-width: 992px) { #edit .col-5 { width: 50%; } }

@media all and (max-width: 480px) { #edit .col-5 { width: 100%; } }

#edit .col-6 { width: 50%; padding: 0 15px; }

@media all and (max-width: 480px) { #edit .col-6 { width: 100%; } }

#edit .col-7 { width: 58.33333%; padding: 0 15px; }

@media all and (max-width: 480px) { #edit .col-7 { width: 100%; } }

#edit .col-8 { width: 66.66667%; padding: 0 15px; }

@media all and (max-width: 480px) { #edit .col-8 { width: 100%; } }

#edit .col-9 { width: 75%; padding: 0 15px; }

@media all and (max-width: 480px) { #edit .col-9 { width: 100%; } }

#edit .col-10 { width: 83.33333%; padding: 0 15px; }

@media all and (max-width: 480px) { #edit .col-10 { width: 100%; } }

#edit .col-11 { width: 91.66667%; padding: 0 15px; }

@media all and (max-width: 480px) { #edit .col-11 { width: 100%; } }

#edit .col-12 { width: 100%; padding: 0 15px; }

#edit .row--center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#edit .row--left { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

#edit .row--right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

#edit .row--on { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#edit .row--under { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

#edit .info p:first-child { margin-top: 0px; }

.skeleton { line-height: 2; }

.skeleton .inner { width: 100vw; height: 100vh; padding: 30px 0; }

.skeleton h3 { font-weight: 600; color: #E69138; position: relative; padding-left: 20px; }

.skeleton h3::before, .skeleton h3::after { content: ''; position: absolute; }

.skeleton h3::before { top: 12px; left: 0px; width: 12px; height: 8px; border: 1px solid #E69138; background: #E69138; border-radius: 1px; }

.skeleton h3::after { top: 10px; left: 1px; width: 8px; height: 2px; background: #AC6820; border-top-right-radius: 2px; }

.skeleton a { color: #fff; -webkit-transition: all .5; transition: all .5; }

.skeleton a:hover { color: #E06666; }

.skeleton ul { -webkit-padding-start: 40px; padding-inline-start: 40px; }

.skeleton ul ul, .skeleton ul ul li { position: relative; }

.skeleton ul ul::before, .skeleton ul ul li::before { position: absolute; content: ''; }

.skeleton ul ul::before { top: 0px; left: 20px; width: 1px; height: calc(100% - 17px); border-left: 1px dotted #bbb; }

.skeleton ul ul li::before { top: 15px; left: -20px; width: 10px; height: 1px; border-bottom: 1px dotted #bbb; }

.skeleton span { color: #909090; }

.skeleton span::before { display: inline-block; content: '#'; padding-left: 10px; padding-right: 5px; }
/*# sourceMappingURL=page-style.css.map */