/* //////////////////////////////////////////////////////////////////////////// */
/* JhuangPing v.1.5.2 [07.31.2020]                                              */
/* Github: https://jhuangping.github.io                                         */
/* //////////////////////////////////////////////////////////////////////////// */
body#el { font-family: Arial, 'Microsoft JhengHei', sans-serif; padding-top: 1.875rem; padding-bottom: 1.875rem; }

/* Header ===================================================================== */
header.elhd { width: 250px; height: 100vh; position: fixed; top: 0px; left: 0px; z-index: 10000; padding: 20px 0; background: #212121; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; -webkit-transition: all 0.5s; transition: all 0.5s; }

@media all and (max-width: 1200px) { header.elhd { -webkit-transform: translateX(-100%); transform: translateX(-100%); } }

header.elhd.is-active { -webkit-transform: translateX(0px); transform: translateX(0px); }

header.elhd.is-active .hd_toggle-bar:first-child { -webkit-transform: translateY(0px) rotate(45deg); transform: translateY(0px) rotate(45deg); }

header.elhd.is-active .hd_toggle-bar:nth-child(2) { opacity: 0; }

header.elhd.is-active .hd_toggle-bar:last-child { -webkit-transform: translateY(0px) rotate(-45deg); transform: translateY(0px) rotate(-45deg); }

.elhd_l-wp { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.elhd_logo { width: 100%; text-align: center; font-weight: bold; color: #fff; font-size: 20px; }

.elhd_logo svg { width: 100%; height: auto; }

.elhd_toggle { position: fixed; top: 0px; left: 100%; width: 40px; height: 45px; background: #212121; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

@media all and (min-width: 1201px) { .elhd_toggle { display: none; } }

.elhd_toggle-bar { display: block; position: absolute; top: 50%; left: 20%; width: 60%; height: 2px; background: #ccc; -webkit-transition: all 0.5s; transition: all 0.5s; }

.elhd_toggle-bar:first-child { -webkit-transform: translateY(-5px); transform: translateY(-5px); }

.elhd_toggle-bar:last-child { -webkit-transform: translateY(5px); transform: translateY(5px); }

@media all and (max-width: 1200px) { .elhd_l-wp { max-height: 80vh; overflow-x: hidden; } }

.elmenu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 10px; font-family: Arial, "Microsoft JhengHei", sans-serif; text-transform: capitalize; }

.elmenu_item { color: #fff; margin-bottom: 5px; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; }

@media all and (min-width: 1201px) { .elmenu_item:hover { color: #f3c860; } }

/* Footer ===================================================================== */
footer.elft { width: 100vw; position: fixed; left: 0px; bottom: 0px; z-index: 10; padding: 10px 0; background: #333; color: #fff; }

.elcommunity { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin: 10px -5px; font-size: 1.375rem; }

.elcommunity a { margin: 0 5px; }

.elcopyright { text-align: right; font-size: 0.75rem; }

.elcopyright span { opacity: .5; }

/* Index ====================================================================== */
.elstn-body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: fixed; top: 0px; right: 0px; z-index: 2; width: calc(100% - 250px); height: 100vh; overflow: hidden; opacity: 0; -webkit-transform: translateX(100px); transform: translateX(100px); pointer-events: none; -webkit-transition: all 0.8s; transition: all 0.8s; }

@media all and (max-width: 1200px) { .elstn-body { width: 100%; } }

.elstn-body.is-show { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); pointer-events: auto; }

.elstn-body .elbody-close { position: absolute; z-index: 10; top: 0px; right: 20px; width: 30px; height: 30px; border-bottom-left-radius: 3px; background: #dc3545; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; }

.elstn-body .elbody-close::before, .elstn-body .elbody-close::after { content: ''; display: block; position: absolute; top: 50%; left: 20%; width: 60%; height: 1px; background: #fff; }

.elstn-body .elbody-close::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.elstn-body .elbody-close::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

@media all and (min-width: 1201px) { .elstn-body .elbody-close:hover { opacity: .7; } }

@media all and (max-width: 1200px) { .elstn-body .elbody-close { right: 0px; } }

.elstn-body .elbody-ir { position: relative; width: 100%; height: 100%; background: #fff; }

.elstn-body .elbody-ir iframe { position: absolute; top: 0px; left: 0px; width: 100%; height: calc(100% - 38px); }

@media all and (max-width: 1200px) { .elstn-body .elbody-ir iframe { top: 50px; height: calc(100% - 38px - 50px); } }

.elstn-info { width: 100%; height: calc(100vh - 38px); padding: 2%; overflow-x: hidden; }

@media all and (min-width: 1201px) { .elstn-info { padding-left: calc(2% + 250px); } }

@media all and (max-width: 1200px) { .elstn-info { padding-top: 80px; } }

#el { width: 90%; margin-left: auto; margin-right: auto; }

#el h1, #el h2, #el h3, #el h4, #el h5, #el h6 { display: block; }

#el h1::after, #el h2::after, #el h3::after, #el h4::after, #el h5::after, #el h6::after { display: inline-block; margin-left: 8px; }

#el h1 { font-size: 2em; margin: .67em 0; }

#el h2 { font-size: 1.5em; margin: .75em 0; }

#el h3 { font-size: 1.17em; margin: .83em 0; }

#el h4 { margin: 1.12em 0; }

#el h5:not([class*="u-"]) { font-size: .83em; margin: 1.5em 0; }

#el h6 { font-size: .75em; margin: 1.67em 0; }

#el h1, #el h2, #el h3, #el h4, #el h5, #el h6, #el b, #el strong { font-weight: bolder; }

#el code { font-family: Arial, "Microsoft JhengHei", sans-serif; background-color: #eee; color: #000; font-size: 0.875rem; font-weight: 400; padding: 2px 6px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.07); }

#el pre { color: #fff; background: #272822; font-size: 0.875rem; padding: 10px 20px; border-radius: 5px; position: relative; overflow-y: hidden; }

#el pre code { color: inherit; background-color: transparent; font-weight: normal; padding: 0px; border-radius: 0px; border: none; }

#el pre .tag, #el pre .red, #el pre .code-r { color: #EB2658; }

#el pre .cls, #el pre .green, #el pre .code-g { color: #A6E22E; }

#el pre .blue, #el pre .code-b { color: #66D9EF; }

#el pre .gray, #el pre .code-gray { color: #75715E; }

#el pre .purple, #el pre .code-p { color: #AE81FF; }

#el pre .code-y, #el pre .y, #el pre .yellow { color: #E6DB74; }

#el h1::after { content: '- h1'; }

#el h2::after { content: '- h2'; }

#el h3::after { content: '- h3'; }

#el h4::after { content: '- h4'; }

#el h5::after { content: '- h5'; }

#el h6::after { content: '- h6'; }

#el [class*="ad-h"] { display: block; }

#el [class*="ad-h"]::after { display: none; }

#el .ad-h1, #el .ad-hh1 { font-size: 1.875rem; font-weight: 600; }

#el .ad-h2, #el .ad-h h2 { font-weight: bold; font-size: 1.25rem; margin-bottom: 1.25rem; }

#el .ad-h3, #el .ad-hh3 { font-size: 1.125rem; font-weight: 600; margin-top: 0.625rem; margin-bottom: 0.625rem; }

#el hr { border: none; border-bottom: 1px dotted #666; }

#el a[href="null"] { pointer-events: none; }

#el [data-import] { width: 100%; }

#el [data-import] iframe { width: 100%; }

#el .ad-tab_th, #el .ad-tab_td { padding-left: 0px; padding-right: 0px; border: 1px solid #ddd; padding: 8px 5px; }

#el .ad-tab_th { font-weight: bold; color: #fff; background: #999; }

#el .ad-bk:not(:last-child) { margin-bottom: 1.875rem; padding-bottom: 1.25rem; border-bottom: 1px dotted #666; }

#el [class*="ad-item-"]::before { font-size: 0.75rem; opacity: .5; display: inline-block; margin-right: 8px; }

#el .ad-item-src::before { content: 'Source:'; }

#el .ad-item-sass::before { content: 'SASS:'; }

#el .ad-item-code::before { content: 'Code:'; }

#el .ad-item-code span { font-weight: bold; text-transform: uppercase; }

#el .ad-item-class::before { content: 'Class:'; }

#el .ad-item-iconname::before { content: 'Icon Name:'; }

#el .ad-item-fontname::before { content: 'Font Name:'; }

#el .ad-item-fontsize::before { content: 'Font-size:'; }

#el .ad-bx { padding-top: 1.25rem; padding-bottom: 1.25rem; margin-top: 0.9375rem; margin-bottom: 0.9375rem; }

#el .ad-bx:not(:last-child) { border-bottom: 1px dotted #e0e0e0; }

#el .ad-pre-name::before { content: 'Pre-name:'; font-size: 0.75rem; opacity: .5; display: inline-block; margin-right: 8px; }

#el .ad-fc { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#el .ad-fc_toning { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 100%; border-radius: 3px; margin-bottom: 1.25rem; position: relative; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .ad-fc_code { width: 100%; height: 100%; padding: 10px; font-size: 0.9375rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

#el .ad-fc_code span { padding: 3px 5px; border-radius: 3px; }

#el .u-fc-base { background: #fff; }

#el .u-fc-hover { background: #fff; }

#el .u-fc-black { background: #fff; }

#el .u-fc-blue { background: #fff; }

#el .u-fc-indigo { background: #000; }

#el .u-fc-purple { background: #000; }

#el .u-fc-pink { background: #000; }

#el .u-fc-red { background: #000; }

#el .u-fc-orange { background: #000; }

#el .u-fc-yellow { background: #000; }

#el .u-fc-green { background: #fff; }

#el .u-fc-teal { background: #fff; }

#el .u-fc-cyan { background: #fff; }

#el .u-fc-white { background: #000; }

#el .u-fc-gray { background: #fff; }

#el .u-fc-gray-dark { background: #fff; }

#el .u-fc-primary { background: #fff; }

#el .u-fc-secondary { background: #fff; }

#el .u-fc-success { background: #fff; }

#el .u-fc-info { background: #fff; }

#el .u-fc-warning { background: #000; }

#el .u-fc-danger { background: #000; }

#el .u-fc-light { background: #000; }

#el .u-fc-dark { background: #fff; }

#el .ad-bgc { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#el .ad-bgc_toning { max-width: 100%; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 100%; border-radius: 3px; margin-bottom: 1.25rem; position: relative; }

#el .ad-bgc_toning::before { content: ''; display: block; padding-bottom: 50%; }

#el .ad-bgc_code { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; padding: 10px; font-size: 0.9375rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

#el .u-bgc-base { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-hover { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-black { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-blue { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-indigo { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-purple { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-pink { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-red { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-orange { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-yellow { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-green { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-teal { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-cyan { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-white { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-gray { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-gray-dark { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-primary { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-secondary { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-success { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-info { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .u-bgc-warning { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-danger { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-light { color: #000; border: 1px solid rgba(0, 0, 0, 0.2); }

#el .u-bgc-dark { color: #fff; border: 1px solid rgba(255, 255, 255, 0.2); }

#el .ad-icon { margin-bottom: 0.9375rem; }

#el .ad-icon_ctr { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0.9375rem 0.3125rem; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.2); height: 100%; }

#el .ad-icon_pic { margin-bottom: 0.625rem; }

#el .ad-ff, #el .ad-fs { padding: 20px; margin-top: 0.9375rem; margin-bottom: 0.9375rem; }

#el .ad-ff:not(:last-child), #el .ad-fs:not(:last-child) { border-bottom: 1px dotted #e0e0e0; }

#el .ad-media { margin-bottom: 1.25rem; }

#el .ad-media.row { border-top: 1px solid #ddd; border-right: none; border-bottom: none; margin-left: auto; margin-right: auto; }

#el .ad-media [class*="col-"] { padding-left: 0px; padding-right: 0px; }

#el .ad-media .ad-tab_th, #el .ad-media .ad-tab_td { border-top: none; border-left: none; }

#el .ad-media .ad-tab_td { text-align: center; }

#el .ad-media_size-xl::after { display: inline-block; content: "1200"; margin-left: 3px; }

#el .ad-media_size-lg::after { display: inline-block; content: "992"; margin-left: 3px; }

#el .ad-media_size-md::after { display: inline-block; content: "768"; margin-left: 3px; }

#el .ad-media_size-sm::after { display: inline-block; content: "575"; margin-left: 3px; }

#el .ad-grid [class*=col-] { padding-top: 10px; padding-bottom: 10px; background-color: rgba(0, 0, 0, 0.15); border: 1px solid rgba(0, 0, 0, 0.2); font-size: 0.75rem; letter-spacing: 0px; }

#el .el-skeleton { line-height: 2; font-family: Arial, "Microsoft JhengHei", sans-serif; }

#el .el-skeleton h3 { font-weight: 600; color: #E69138; position: relative; padding-left: 20px; font-size: 16px; margin: 0; display: inline-block; }

#el .el-skeleton h3::before, #el .el-skeleton h3::after { content: ''; position: absolute; }

#el .el-skeleton h3::before { top: 12px; left: 0px; width: 12px; height: 8px; border: 1px solid #E69138; border-top-color: #CB7C28; background: #E69138; border-radius: 1px; }

#el .el-skeleton h3::after { top: 10px; left: 1px; width: 8px; height: 2px; background: #AC6820; border-top-right-radius: 2px; margin: 0px; }

#el .el-skeleton a { -webkit-transition: all .5; transition: all .5; }

#el .el-skeleton ul { -webkit-padding-start: 40px; padding-inline-start: 40px; }

#el .el-skeleton ul ul, #el .el-skeleton ul ul li { position: relative; }

#el .el-skeleton ul ul::before, #el .el-skeleton ul ul::after, #el .el-skeleton ul ul li::before, #el .el-skeleton ul ul li::after { position: absolute; content: ''; }

#el .el-skeleton ul ul li::before { top: 15px; left: -20px; width: 10px; height: 1px; border-bottom: 1px dotted #bbb; }

#el .el-skeleton ul ul li::after { top: 0px; left: -20px; width: 1px; height: calc(100% - 1px); border-left: 1px dotted #bbb; }

#el .el-skeleton ul ul li:last-child::after { height: 16px; }

#el .el-skeleton span { color: #909090; }

#el .el-skeleton span::before { display: inline-block; content: '#'; padding-left: 10px; padding-right: 5px; }
/*# sourceMappingURL=el.css.map */